@import url('./styles.css');
@import 'simplelightbox/dist/simple-lightbox.min.css';

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 24px 156px;
}

.gallery .gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  overflow: hidden;
  transition: transform 250ms linear;
}

.gallery .gallery-item:hover {
  transform: scale(1.05);
}

.gallery .gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.redirect-btn {
  width: 125px;
  height: 50px;
  margin: 0 auto;
  margin-left: 45vw;
}

.redirect-btn:hover {
  transition: transform 0.25s ease-in-out, border-color 0.25s ease-in-out;
  transform: scale(1.05);
  border-color: bisque;
}
